.inbox {
  margin: 7px auto;
  .chat_window_grid {
    min-height: calc(100vh - 70px);
  }
  .inbox_msg {
    border-right: 1px solid #dce1e7;
    padding-right: 24px;
    position: relative;
    .msg_head {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: -0.28px;
      color: #000713;
    }
    .select_all{
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      text-align: right;
      letter-spacing: -0.28px;
      color: #1A96F0;
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }

    .search_box {
      margin: 22px auto;
      border: 1px solid #dce1e7;
      border-radius: 4px;
      padding: 10px;

      .search_img {
        max-width: 18px;
        width: 100%;
        margin-right: 10px;
      }

      .search_input,
      .search_input:focus-visible {
        font-weight: 400;
        font-size: 14px;
        color: #9e9e9e;
        border: none;
        outline: none;
        max-width: 100px;
        width: 100%;
      }
    }
    .msg_request {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      text-align: end;
      letter-spacing: -0.28px;
      color: #1a96f0;
    }
  }

  .chat_window {
    padding-top: 20px;
    padding-bottom: 15px;
    // border-bottom: 1px solid #dce1e7;
    display: flex;
    margin: 0 24px;
    margin-right: 0;

    .user_detail {
      display: flex;
      flex-grow: 1;
    }

    .detail {
      font-weight: 800;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.28px;
      color: #000713;
    }

    .arrow_img {
      margin-right: 22px;
      max-width: 10px;
      width: 100%;
    }

    .active_status {
      position: absolute;
      top: 29px;
      border: 1px solid white;
      border-radius: 60%;
      height: 15px;
      background: #00c247;
      right: 0;
      width: 15px;
    }

    .full_name {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.28px;
      color: #000713;
    }

    .user_name {
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: -0.28px;
      font-feature-settings: 'salt' on;
      color: #616161;
    }

    .edit_detail {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      text-align: right;
      letter-spacing: -0.28px;
      color: #1a96f0;
    }

    .opacity {
      opacity: 0.5;
    }
  }
}
.msg_box {
  position: absolute;
  width: calc(100% - 36px);
  display: flex;
  padding: 10px 0px;
  bottom: 0px;
}
.request_action {
  display: flex;
  gap: 14px;
  justify-content: space-between;
  margin: 24px 0;
  width: 100%;

  .block_btn,.delete_btn,.accept_btn{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.28px;
    text-align: center;
    color: #FF3333;
    opacity: 0.5;
  }
  .accept_btn {
    color: #005CFF;
  }
}
.select_user_container{
  max-height: calc(100vh - 310px);
  overflow-y: auto;
}
.arrow_img {
  margin-right: 22px;
  max-width: 10px;
  width: 100%;
}
@media(max-width:960px){
  .request_action{
    margin: 0 0;
  }
}
