.teamsImgContainer {
  display: flex;
  align-items: center;
  .teamRoundedImg,
  .teamImgNum {
    margin-left: -10px;
  }
  .teamRoundedImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
  }
  .teamImgNum {
    width: 32px;
    height: 32px;
    background: #eeeeee;
    // border: 4px solid #eeeeee;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.addContainer {
  border: 1.4px solid #9e9e9e;
  border-radius: 50%;
  margin: 0 14px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  img {
    width: 14px;
    height: 14px;
  }
}
@media (max-width: 960px) {
  .teamsImgContainer,
  .addContainer {
    display: none;
  }
}
