.resend_otp {
  text-align: center;
  margin-top: 32px;
  font-weight: 500;
  font-size: 13px;
}

.count {
  font-weight: 700;
  font-size: 13px;
  color: #212121;
}

.resend_text {
  font-weight: 500;
  font-size: 13px;
  color: #1a96f0;
  margin-left: 3px;
  cursor: pointer;
}
