.create_body {
  max-width: 520px;
  width: 100%;
  margin: 66px auto 0;
  min-height: calc(100vh - 116px);

  .sub_body {
    min-height: 550px;
    padding: 0 20px;
  }

  .email_input {
    width: 35vh;
    margin: 0 auto;
    position: relative;

    .input_name {      
      font-weight: 400;
      font-size: 13px;
      color: #51566b;
      padding-top: 50px;
      padding-bottom: 5px;
    }

    .react-tel-input .country-list {
      overflow-x: hidden;
    }

    .react-tel-input .country-list .search {
      width: 375px;
      background: #ffffff;
      border-radius: 16px 16px 0px 0px;
    }

    .react-tel-input .country-list .search-box {
      height: 48px;
      background: #ffffff;
      border: 1px solid #dce1e7;
      border-radius: 6px;
      width: 70%;
    }

    .react-tel-input .country-list .country {
      padding: 9px 18px;
    }
  }

  @media (min-width: 992px) {
    .email_input {
      max-width: 311px;
      width: 100%;
    }
  }

  .signup_title {
    text-align: center;
  }

  .social_login {
    align-items: start;

    .signin_icons {
      max-width: 31px;
      width: 100%;
      margin-left: 22px;
      cursor: pointer;
      transition: transform 0.5s;
    }

    .google_icon {
      max-width: 36px;
    }
    .twitter_icon {
      max-width: 36px;
    }
    .insta_icon {
      max-width: 34px;
    }

    .signin_icons:hover {
      transform: scale(1.3);
    }
  }
}

.signup_option {
  max-width: 311px;
  width: 100%;
  text-align: center;
  line-height: 0.1em;
  margin: 66px auto 38px;
  color: #9e9e9e;
  background: linear-gradient(to right, #fff, #000, #fff);
  span {
    background: #fff;
    padding: 0 10px;
  }
}

.password_input {
  margin-top: 24px;
  font-weight: 400;
  font-size: 13px;
  color: #51566b;
  padding-bottom: 5px;
}

.signup_loader {
  width: 50px;
  height: 50px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
