.shared_post {
  max-width: 228px;
  width: 100%;
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 12px;

  .post_header {
    padding: 10px 16px;

    .post_profile {
      max-width: 22px;
      width: 100%;
      height: auto;
    }

    .post_owner {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.28px;
      color: #000713;
      padding-left: 8px;
    }
  }

  .post_img {
    max-width: 227px;
    width: 100%;
    height: auto;
  }

  .post_caption {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: -0.28px;
    color: #212121;
    padding: 10px 14px;
  }
}
