.user_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;

    .user_details {
      display: flex;
      align-items: center;
    }

    .user_name {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.28px;
      color: #000713;
      margin-left: 12px;
    }
  }